[Unit]
Description=OLED Brightness Control via DPCD AUX
Documentation=https://github.com/NVIDIA/open-gpu-kernel-modules

After=nvidia-persistenced.service display-manager.service
Requires=nvidia-persistenced.service

ConditionPathExists=/sys/class/backlight/nvidia_0/brightness
ConditionPathExists=/dev/nvidiactl


[Service]
Type=simple
ExecStart=/usr/bin/x2-bright watch

Restart=on-failure
RestartSec=5

User=root


[Install]
WantedBy=graphical.target